
.main-editProfile {
    background-image: url("/multimedia/bg_01.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  #username-title-editProfile {
    margin-left: 130px;
    color: var(--green3);
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
  }
  .editProfile-register {
    margin-left: 210px;
    display: flex;
    flex-direction: column;
  }
  .editProfile-fieldsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .left-fields-editProfile {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 50px;
    font-size: 15px;
    width: 300px;
  }
  .editProfile-fields,
  #category-current-name,
  #category-new-name,
  #changePasswordForm input[type="password"] {
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    height: 25px;
    border: var(--green2) 2px solid;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  .labels-edit-profile {
    font-size: 13px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: var(--green3);
    color: var(--green3);
    font-weight: bold;
    text-transform: uppercase;
  }
  .editProfile-fields:focus::placeholder {
    opacity: 0.5;
  }
  .editProfile-Buttons {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
  }
  #div-editProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 120px;
  }
  #profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 30px;
    object-fit: cover;
  }
  #edit-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 0 0 150px;
    object-fit: cover;
  }

  .modal {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    white-space: nowrap;
    background-color: rgb(0 0 0 / 80%);
    backdrop-filter: blur(5px);
    display: none;
    place-items: center;
    z-index: 1;
    text-align: center;
    color: var(--green3);
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .modal-content {
    padding: 2rem 3rem;
    background-color: white;
    border: var(--warningMessages) 2px solid;
    max-width: 25%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    pointer-events: all;
  }
  .modal-buttons {
    display: flex;
  }

  .modal button {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 32px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: var(--done);
    color: var(--green3);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  .modal button:hover {
    background-color: var(--green3);
    color: var(--green1);
  }
  .modal p {
    color: var(--warningMessages);
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 3;
  }


/*Modal password*/

.modalContent {
    display: flex;
    margin: auto;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; /* Cor de fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border: 2px solid #ddd; /* Borda */
  }

  #passwordModal.modalShown {
    display: block;
}
  
  
  /* Estilo para o botão de fechar */
  .close {
    color: #aaa; /* Cor do ícone */
    font-size: 20px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000; /* Cor do ícone ao passar o mouse */
  }
  
  /* Estilo para o modal */
  #passwordModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  }
  
  /* Centraliza o modal verticalmente */
  .modalContent {
    margin-top: 15%;
  }
  
  /* Estilo para o formulário de alteração de senha */
  #changePasswordForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    