.centered-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#set-passwordModal {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
    border-radius: 7px 7px 0 0;
    align-items: center;
    justify-content: center;
    color: white;
}

#passwordModal {
    display: flex;
    width: 20%;
    height: 50%;
}