
.landingPage-container {
    display: flex;
}

.landingPage-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  #landingPage-image {
    width: 75%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Definições do painel de login */
  .center-container-login {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  }

  .loginpanel {
    z-index: 3;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: var(--green3);
    background-color: color-mix(in srgb, var(--light-grey), transparent 10%);
    border-radius: 10px 0 0 10px;
    height: 94vh;
    width: 330px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .landingPage-spaceBetween {
    display: flex;
    justify-content: space-between;
  }
  #landingPage-welcome{
    margin-block: 20px;
    width: auto;
  }
  #logo-register {
    padding-bottom: 20px;
  }
  #username,
  #password {
    margin-bottom: 15px;
    padding-left: 5px;
    width: 220px;
    height: 25px;
    border: var(--green3) 1px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  #username {
    margin-top: 20px;
  }
  #password {
    margin-bottom: 20px;
  }
  .loginpanel ::placeholder {
    color: var(--green2);
  }
  .loginpanel :focus::placeholder {
    opacity: 0.5;
  }
  .loginpanel input[type="text"] {
    color: var(--green3);
  }

  #warningMessage {
    color: var(--warningMessages);
    font-size: 14px;
    margin-top: 20px;
  }
  /* Animação fade in para o container de login */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }