.not-confirmed {
    background-image: url("/multimedia/bg_03.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.not-confirmed h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.not-confirmed p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}