header {
  width: auto;
  height: 80px;
  color: white;
  background-color: var(--green3);
  display: flex;
  justify-content: flex-end; /* Align all items to the right */
  align-items: center;
}

#logo-header {
  flex-grow: 1; /* Allow the logo to grow if there is space */
  flex-shrink: 1; /* Allow the logo to shrink if there isn't enough space */
  min-width: 50px; /* Set a minimum width for the logo */
  height: auto; /* This will maintain the aspect ratio of the logo */
  justify-content: flex-start; /* Align logo to the left */
}

.nav-menu-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: var(--light-grey);
  cursor: pointer;
}

.nav-menu-right {
  margin-right: 100px;
}

.nav-menu-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  background-color: var(--green3);
}

.nav-menu-left li {
  display:inline;
  margin-right: 40px;
  font-size: 20px;
  color: var(--light-grey);
  cursor: pointer;
}

.nav-menu-left a,
.nav-menu-right a {
  text-decoration: var(--green2);
  color: var(--light-grey);
  font-size: 17px;
}

.nav-menu-left a:hover,
.nav-menu-right a:hover {
  color: var(--doing);
}

.nav-menu-right {
  display: flex;
  align-items: center;
}

#dropdown-basic {
  color: var(--light-grey);
  font-size: 17px;
  cursor: pointer;
}

.dropdown-item {
  color: var(--green2) !important;
}

.dropdown-item:hover {
  background-color: var(--light-grey) !important;
}

.dropdown-item-date {
  font-size:small;
}

#notification:hover{
  color:#c8e4e751;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 30px;
  object-fit: cover;
}

/* Username */
#username-header {
  color: var(--light-grey);
  font-weight: bold;
}

/* Logout button */
/* .logout-button {
  margin-right: 50px;
  margin-left: 100px;
  background-color: var(--green3);
  color: var(--light-grey);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 17px;
  border-radius: 5px;
} */

/* .logout-button img {
  width: 19px;
  height: 20px;
  max-width: 19px;
  max-height: 20px;
  margin-right: 9px;
} */

/* Definições do link de logout no header (default e hover) */
/* .logout-link {
  margin-right: 100px;
  color: var(--green2);
} */

.logout-logo {
  width: 25px;
  height: 26px;
  max-width: 25px;
  max-height: 26px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.logout-logo:hover {
  transform: scale(1.3);
}

.ml-2 {
  margin-left: 15%;
  transition: transform 0.3s ease-in-out;
}

.ml-2:hover {
  transform: translateX(2px); 
}

.navbar-external {
  margin-left: 200%;
  margin-right: 10%;
}

/* For screens smaller than 1200px */
@media (max-width: 1430px) {
  .navbar-external {
    margin-left: 190%;
  }
}

@media (max-width: 1370px) {
  .navbar-external {
    margin-left: 160%;
  }
}

@media (max-width: 1240px) {
  .navbar-external {
    margin-left: 140%;
  }
}

@media (max-width: 1140px) {
  .navbar-external {
    margin-left: 120%;
  }
}

/* For screens smaller than 992px */
@media (max-width: 1080px) {
  .navbar-external {
    margin-left: 100%;
  }
}

/* For screens smaller than 992px */
@media (max-width: 980px) {
  .navbar-external {
    margin-left: 80%;
  }
}

@media (max-width: 910px) {
  .navbar-external {
    margin-left: 65%;
  }
}

/* For screens smaller than 768px */
@media (max-width: 860px) {
  .navbar-external {
    margin-left: 40%;
  }
}

@media (max-width: 730px) {
  .navbar-external {
    margin-left: 50%;
  }
  #profile-pic {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar-external {
    margin-left: 0%;
  }
}
/* CSS for larger screens */
@media (min-width: 600px) {
  .nav-menu-right {
    display: flex;
    align-items: center;
  }
}

/* CSS for smaller screens */
@media (max-width: 599px) {
  .nav-menu-right {
    display: flex;
    align-items: center;
  }

}

.navbar-brand {
  padding-left: 40px;
}

@media (max-width: 360px) {
  .navbar-brand {
    padding-left: 0;
  }
}

.mr-auto {
  align-items: left;
}

.ml-auto {
 align-content: end;
}

/* Updated .space-between class */
.space-between {
  flex-grow: 1;
}


/* For screens smaller than 720px */
@media (max-width: 720px) {

  .navbar-content {
    flex-direction: row;
  }
  .navbar-external {
    order: -1;
  }
  .logo-header {
    display: none;
  }
  .options-text {
    display: none;
  }
}
.navbar-content {
  display: flex;
  flex-wrap: nowrap;
}

.navbar-external {
  order: 2;
}

@media (max-width: 576px) {
  .navbar-external {
    order: 1;
  }
}

/* For screens smaller than 576px */
@media (max-width: 576px) {
  .space-between {
    min-width: 0;
  }
}

.navbar-content {
  flex-wrap: nowrap;
  order: 2;
}

.navbar-external {
  order: -1;
}

@media (min-width: 576px) {
  .navbar-external {
    order: 2;
  }
}
