footer {
  width: auto;
  padding-block: 20px;
  background-color: var(--black);
  color: var(--light-grey);
  padding-block: 20px;
  font-size: 17px;
}

.footer-project {
  text-align: left;
  margin-left: 20px; /* Adjust this value to increase the left margin */
}

.footer-author {
  text-align: center;
  text-align: -webkit-center; /* For Safari */
}

.footer-discipline {
  text-align: right;
  margin-right: 20px; /* Adjust this value to increase the right margin */
}

@media (max-width: 719px), (min-width: 720px) and (max-width: 770px) {
  .footer-author, .footer-discipline {
    text-align: center;
    text-align: -webkit-center; /* For Safari */
  }
}

@media (min-width: 771px) {
  .footer-author {
    text-align: center;
  }
  .footer-discipline {
    text-align: right;
  }
}